body{
  background-color: darkgray;
}
#bodyContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 200px;
  grid-template-areas:
    "side header"
    "side main";

}
#side {
  background-color: aquamarine;
  border: 1px solid black;
  grid-area: side;
}
#top {
  background-color: aliceblue;
  border: 1px solid red;
  grid-area: header;
}
#main {
  border: 1px solid blue;
  grid-area: main;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-areas:
  "project anno"
  "project trend";
  row-gap: 5px;
}
#projectContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: project;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
background-color: beige;
align-items: end;
justify-items: center;
}
.projectItem:nth-child(1) {
  grid-column: span 2;
  width: 90%;
}
.projectItem {
  border: 2px solid green;
background-color: aliceblue;
}
#annoContainer{
  border: 2px solid blueviolet;
  display: grid;
  grid-area: anno;
}
#trendContainer{
  border: 2px solid blueviolet;
  display: grid;
  grid-area: trend;
}