body{
  background-color: darkgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

#bodyContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 200px;
  grid-template-areas:
    "side header"
    "side main";
    row-gap: 5px;
  
}
#side {
  background-color: aquamarine;
  border: 1px solid black;
  grid-area: side;
  display: grid;
  grid-template-columns: repeat(30%, 70%);
  grid-template-areas:
    "sideH sideH"
    "sidePic sideDiv";
}
#top {
  background-color: aliceblue;
  border: 1px solid red;
  grid-area: header;
}
#main {
  border: 1px solid blue;
  grid-area: main;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-areas:
  "project anno"
  "project trend";
  row-gap: 5px;
}
#projectContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: project;
  grid-template-columns: repeat(2, 1fr);
  background-color: beige;
  justify-items: center;
  row-gap: 5px;
}
.projectItem:nth-child(1) {
  grid-column: span 2;
}
.projectItem {
  border: 2px solid green;
  background-color: aliceblue;
}
#annoContainer{
  border: 2px solid blueviolet;
  display: grid;
  grid-area: anno;
}
#trendContainer{
  border: 2px solid blueviolet;
  display: grid;
  grid-area: trend;
}
.sideDiv{
 
  grid-area: sideDiv;
}
.sidePic{
  height: 30px;
  grid-area: sidePic;
}
.sideH{
  grid-area: sideH;
}