body{
  background-color: midnightblue;
}
#bodyContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 200px;
  grid-template-areas:
    "side header"
    "side main";
  column-gap: 5px;
  row-gap: 5px;
}
#side {
  border: 1px solid black;
  grid-area: side;
}
#top {
  border: 1px solid red;
  grid-area: header;
}
#main {
  border: 1px solid blue;
  grid-area: main;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-areas:
  "project anno"
  "project trend";
  row-gap: 5px;
}
#projectContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: project;
}
.projectItem {
  border: 2px solid green;
  height: 100px;
  width: 200px;
  place-self: center;
}
#annoContainer{
  border: 2px solid blueviolet;
  display: grid;
  grid-area: anno;
}
#trendContainer{
  border: 2px solid blueviolet;
  display: grid;
  grid-area: trend;
}